
@font-face {
    font-family: 'moncerad';
    src: url('fonts/Montserrat-SemiBold.ttf');
    font-weight: 200;
  }
body{
    background: linear-gradient(#5b4020ef, #474440);
    background-size:cover;
    background-repeat: no-repeat; 
    background-position: center;
    margin: 0;
    padding: 0;
    background-attachment: fixed; 
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
    font-family: 'moncerad';
    font-weight: 500;
} 
.playandpause{
    min-width: 0.5rem;
    min-height: 0.5rem;
}
.background {
    filter: blur(5px);
    min-height: 100%;
    min-width: 640px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.container{
    overflow: hidden;
    margin: 10vh 2vw 5vh 2vw;
    border-radius: 5rem;
    background-color: #988367;
    align-items: center;
    box-shadow: 5px 5px 150px 5px rgba(208, 148, 80, 0.371);
    padding: 0;
    max-height: 50rem;
    min-width: 34rem;
}
.box-info{
    display: flex;
    margin-top: -10rem;
    border-radius: 2.25rem;
    background-color: #988367;
    box-shadow: 5px 5px 150px 5px rgba(208, 148, 80, 0.371);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-width: 15rem;
    min-height: 12rem;
    max-width: 15rem;
    max-height: 12rem;
}
.avatars{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 12vw;
    min-height: 12vh;
}
.avatar{
    align-items: center;
    justify-content: center;
    margin: -6vh 0vw 7vh 0vw;
    border-radius: 30rem;
    box-shadow: 5px 5px 75px 10px #2e28217a;
    min-width: 5vw;
    max-width: 12rem;
}
.banner{
    width: 100%;
    display: flex;
    background-position: center;
    margin: 0;
    padding: 0;
    background-attachment: fixed; 
    align-items: center;
    justify-content: center;
}
.nickname{
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 1.7rem;
    color: #bababa;
    -moz-text-shadow:5px 5px 10px rgb(0, 0, 0); 
    -webkit-text-shadow:5px 5px 10px rgb(0, 0, 0); 
    text-shadow:5px 5px 10px rgb(0, 0, 0); 
}
.nick{
    margin: -4vh 1vw 8vh 1vw;
    text-align: center;
    font-weight: 500;
}
h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0.5vh 2vw 1vh 2vw;
    font-size: 1.20rem;
    color: #e5e5e5;
    font-weight: 525;
}
.container-link{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: minmax(1rem, 5rem);
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 2.25rem;
    background-color: #988367;
    box-shadow: 5px 5px 150px 5px rgba(208, 148, 80, 0.371);
    box-sizing: border-box;
    padding: 1rem 1rem 0.25rem 3rem;
    margin: 28rem 0rem 0rem 0.25rem;
    min-width: 15rem;
    max-width: 15rem;
    min-height: 12rem;
    max-height: 12rem;
}
.tg, .discord, .youtube, .mail{
    align-items: center;
    justify-content:center;
    min-width: 2.5rem;
    max-width: 3.5rem;
    transition: transform 0.5s ease;
}
.mail:hover{
    transition: transform 0.3s ease;
    transform: scale(1.2);
}
.mail:before{
    transition: all 650ms;
}
.youtube:hover{
    transition: transform 0.3s ease;
    transform: scale(1.2);
}
.youtube:before{
    transition: all 650ms;
}
.discord:hover{
    transition: transform 0.3s ease;
    transform: scale(1.2);
}
.discord:before{
    transition: all 650ms;
}
.tg:hover{
    transition: transform 0.3s ease;
    transform: scale(1.2);
}
.tg:before{
    transition: all 650ms;
}
.servers{
    grid-gap: 3vh;
    display:grid;
    position: absolute;
    align-items: center;
    border-radius: 2.25rem;
    box-sizing: border-box;
    margin: 1rem 0rem 0rem 0rem;
    width: 30rem;
    grid-template-columns: repeat(3, 3fr);
    transition: transform .3s,box-shadow .3s;
}
.view{
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 2.25rem;
    background-color: #988367;
    box-shadow: 5px 5px 150px 5px rgba(208, 148, 80, 0.371);
    overflow: hidden;
    box-sizing: border-box;
    padding: 0.25rem 0.5rem 1rem 0.5rem;
    margin: 0rem 0rem 0rem 0rem;
}
.icons{
    overflow: hidden;
    border-radius: 1rem;
    width: 15rem;
}
.name{
    align-items:center ;
    justify-content: center;
    background-color:#68574296;
    border-radius: 3rem;
    padding: 0.15rem 0.5rem 0.5rem 0.5rem;
    margin: 0rem 3rem 0.25rem 3rem;
    font-family: 'moncerad';
    color: #b9b9b9;
}
.one:hover {
    /* box-shadow: 0 4px 8px #0003; */
    transform: translateY(-10px);
    transition: all 300ms;
  }
.two:hover {
    transform: translateY(-10px);
    transition: all 300ms;
  }
.three:hover {
    /* box-shadow: 0 4px 8px #0003; */
    transform: translateY(-10px);
    transition: all 300ms;
}
.four:hover {
    transition: all 300ms;
    /* box-shadow: 0 4px 8px #0003; */
    transform: translateY(-10px);
  }
.five:hover {
    transition: all 300ms;
    /* box-shadow: 0 4px 8px #0003; */
    transform: translateY(-10px);
  }
.six:hover {
    transition: all 300ms;
    /* box-shadow: 0 4px 8px #0003; */
    transform: translateY(-10px);
  }
.seven:hover {
    transition: all 300ms;
    /* box-shadow: 0 4px 8px #0003; */
    transform: translateY(-10px);
  }
  .soc:hover{
    transition: all 300ms;
    /* box-shadow: 0 4px 8px #0003; */
    transform: translateY(-10px);
  }
.one, .two, .three, .four, .five, .six, .seven, .soc, .katra{
    transition: transform .3s,box-shadow .3s;
}
.katra:hover{
    transition: all 300ms;
    /* box-shadow: 0 4px 8px #0003; */
    transform: translateY(-10px);
}
  






